.todo-text {
  margin-left: 15px;
  position: absolute;
  bottom: 20px;
}

.todo-list-item {
}

.todo-list-item:hover {
  color: #0275d8;
}

.completed-button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: white;
  border: 1px;
}

input[type="checkbox"]:checked + label.todo-text {
  text-decoration: line-through;
  color: gray;
}

.delete-button {
  background-color: white;
  border: none;
  display: flex;
  float: right;
  position: relative;
  bottom: 3px;
}

.delete-button:hover {
  background-color: rgb(226, 226, 226);
  border-radius: 5%;
}

.container {
  border: 1px solid rgb(207, 203, 203);
  height: 600px;
  border-radius: 15px;
  overflow-y: auto;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 0 1px rgb(89 105 128 / 10%),
    0 3px 20px 0 rgb(89 105 128 / 30%), 0 1px 2px 0 rgb(0 0 0 / 5%);
}

